---
import PostListItem from '@components/PostListItem.astro'
import type { Props as PostItemProps } from '@components/PostListItem.astro'
import Layout from '@layouts/Layout.astro'

const res = await fetch(import.meta.env.API_URL)
const posts: PostItemProps[] = await res.json()

const formatedPosts = () => {
  return posts.map((item) => {
    let url = ''

    if (item.attr !== '') {
      url = `https://drive.google.com/thumbnail?id=${item.attr.split('=')[1]}&sz=w1024` 
    }

    return {
      name: item.name,
      date: item.date,
      attr: url,
      description: item.description
    }
  })
}
---

<Layout>
  <div class="px-8 lg:px-0">
    <div class="mx-auto">
      <div>
        <ul class="my-8 lg:hidden">
          {
            formatedPosts().map((item: PostItemProps) => (
              <PostListItem
                name={item.name}
                attr={item.attr}
                date={item.date}
                description={item.description}
              />
            ))
          }
        </ul>
      </div>
      <div class="my-8 hidden gap-x-8 lg:grid lg:grid-cols-2">
        <ul>
          {
            formatedPosts()
              .filter((item, index) => index % 2 === 0)
              .map((item: PostItemProps) => (
                <PostListItem
                  name={item.name}
                  attr={item.attr}
                  date={item.date}
                  description={item.description}
                />
              ))
          }
        </ul>
        <ul>
          {
            formatedPosts()
              .filter((item, index) => index % 2 !== 0)
              .map((item: PostItemProps) => (
                <PostListItem
                  name={item.name}
                  attr={item.attr}
                  date={item.date}
                  description={item.description}
                />
              ))
          }
        </ul>
      </div>
    </div>
  </div>
</Layout>
